
/* ==========================================================================
   Tool.UP custom styles
   ========================================================================== */

* {
    padding: 0px;
    margin: 0px;
}

body {
    color: #47476b;
    font-family: verdana,helvetica,arial,sans-serif;
    line-height: 1.45;
}

h1, h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

nav {
    background-color: #f0f0f0;
    height: 100px;
}


nav ul li {
    list-style-type: none;
    min-width: 150px;
    float: left;
    text-align: center;
    background-color: #f0f0f0;
}

nav ul li img {
    height: 100px;
    width: 100px;
}


nav ul li a {
    text-decoration: none;
    color: #47476b;
    line-height: 60px;
    display: block;
    position: relative;
    top: 40px;
}

nav ul li a:hover {
    background-color: #47476b;
    color: #f0f0f0;
}

.selected-menu-item a {
    background-color: #47476b;
    color: #f0f0f0;
}

.category-dropdown {
    text-decoration: none;
    color: #47476b;
    line-height: 60px;
    display: block;
    position: relative;
    top: 40px;
    cursor: pointer;
}

.category-dropdown:hover {
    background-color: #47476b;
    color: #f0f0f0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    white-space: nowrap;
}

.dropdown-content a {
    text-decoration: none;
    background-color: #f0f0f0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: #47476b;
}

.dropdown-content a:hover {
    background-color: #47476b;
    color: #f0f0f0;
}

.show {
    display:block;
}

.full-text-search {
    width:300px;
    float: right;
    margin-top: 50px;
}

input[type=text] {
    border: none;
    padding:8px 15px;
}

input[type=submit] {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border: none;
    border:2px solid #47476b;
    background-color:#47476b;
    color:#fafafa;
}

input[type=button] {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border: none;
    border:2px solid #47476b;
    background-color:#47476b;
    color:#fafafa;
}

#search-button:hover {
    color:#47476b;
    background-color:#fafafa;
}

#main-content {
    text-align: left;
    float: none;
    margin: 40px 20px;
}

#main-content ul {
    margin-left: 60px;
}

.business-object-list {
    height: auto;
    margin-bottom: 20px;
}

.business-object-list::after {
    content: "";
    display: table;
    clear: both;
}

.business-object-list li {
    list-style-type: none;
    height: 60px;
    min-width: 180px;
    float: left;
    text-align: center;

    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4);
    margin: 10px;
    cursor: pointer;
}

.business-object-list li a {
    color: #47476b;
    text-decoration: none;
    line-height: 60px;
    display: block;
}

.business-object-list li:hover {
    background-color: bisque;
}

.category-list li {
    background-color: #cccccc;
    border-radius: 10px;
}


.feature-list li {
    background-color: #999999;
    border-radius: 30px;
}

.application-list li {
    background-color: #47476b;
}

.application-list li a {
    color: #cccccc;
}

.application-list li a:hover {
    color: #47476b;
}

#feature-list {

}

#features {
    list-style: none;
}

#features li {
    margin: 5px;
    float: left;
    min-width: 400px;
}













    /* ==========================================================================
       HTML BoilerPlate
       ========================================================================== */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
